.row {
    margin-left: 3px;
    color: #fff;
}

.posters {
    display: flex;
    padding: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar {
    display: none;
}


.poster {
    max-height: 250px;
    margin-right: 10px;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.poster:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.smallposter {
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.smallposter:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}