.row {
    margin-left: 3px;
    color: #fff;
}

.posters {
    display: flex;
    padding: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar {
    display: none;
}


.poster {
    max-height: 250px;
    margin-right: 10px;

}